@using MvcCv.Models.Entity
@model List<TblYeteneklerim>

<div class="resume-section-content">
    <h2 class="mb-5">Yeteneklerim</h2>

    <div class="subheading mb-3">Programlama Dilleri & Araçlar</div>
    <ul class="list-inline dev-icons">
        <li class="list-inline-item"><i class="devicon-html5-plain colored"></i></li>
        <li class="list-inline-item"><i class="devicon-css3-plain colored"></i></li>
        <li class="list-inline-item"><i class="devicon-javascript-plain colored"></i></li>
        <li class="list-inline-item"><i class="devicon-react-original colored"></i></li>
        <li class="list-inline-item"><i class="devicon-csharp-plain colored"></i></li>
        <li class="list-inline-item"><i class="devicon-dot-net-plain-wordmark colored"></i></li>
        <li class="list-inline-item"><i class="devicon-microsoftsqlserver-plain colored"></i></li>
        <li class="list-inline-item"><i class="devicon-mongodb-plain colored"></i></li>
        <li class="list-inline-item"><i class="devicon-windows8-original colored"></i></li>
        <li class="list-inline-item"><i class="devicon-python-plain colored"></i></li>
    </ul>

    <div class="subheading mb-3">Becerilerim</div>
    <ul class="fa-ul mb-0">
        @foreach (var item in Model)
        {
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                @item.Yetenek
            </li>
        }
    </ul>
</div>
